.product {
    width: 85%;
    margin: 0 auto;
}
  
.productHeader {
  text-align: center;
  font-size: 24px;
  margin: 2% 0%;
  color: red;
  font-weight: bold;
}

#productContainer {
  padding: 0% 2%;
}

.productRow {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.box {
  border-radius: 10px;
  width: 100%;
  height: auto;
  padding: 0px;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
  transition: transform 0.5s, box-shadow 0.5s;
  margin-bottom: 2%;

  img {
    width: 100%;
    height: 35vh;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
  }

  .overlay {
    width: 100%;
    height: 0;
    background: linear-gradient(transparent, #dfdcdc 60%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
    text-align: center;
    font-size: 16px;
    transition: height 0.4s;

    h3 {
      font-weight: 600;
      font-size: 16px;
    }

    p {
      font-size: 14px;
      padding: 5px;
    }
  }

  &:hover img {
    transform: scale(1.1);
  }

  &:hover .overlay {
    height: 35vh;
  }
}

@media screen and (min-width: 300px) and (max-width: 599px) {
  .product{
      padding-top: 70px;
  }

  .box {
    width: 100%;
    margin: 3%;
    height: 35vh;

    .overlay {
      font-size: 14px;

      h3 {
        padding-top: 28px;
        font-size: 16px;
      }

      p {
        font-size: 15px;
      }
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
  .product{
      padding-top: 70px;
  }

  .box {
    width: 48%;
    height: 35vh;

    .overlay {
      font-size: 16px;

      h3 {
        padding-top: 60px;
        font-size: 17px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .product{
      padding-top: 100px;
  }

  .box {
    width: 23%;

    .overlay {
      font-size: 15px;
      height: 0;

      h3 {
        padding-top: 55px;
        font-size: 22px;
      }

      p {
        font-size: 18px;
      }
    }
  }
}
